body{
    text-align: center;
}
.buttons{
   
padding-bottom: 100px;
     
}
#rockBtn{
    color: transparent; 
    border: 0;
    background-image: url(rock.jpg);
    height: 160px;
    width: 200px;
    background-color: transparent;
    
}
#paperBtn{
    color: transparent; 
    border: 0;
    background-image: url(paper.jpg);
    height: 160px;
    width: 200px;
    background-color: transparent;
}
#scissorsBtn{
    color: transparent; 
    border: 0;
    background-image: url(scissors.jpg);
    height: 200px;
    width: 270px;
    background-color: transparent;
}
